.menu-item {
  color: #4b5563;
  padding: 0.75rem 1.25rem;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 225px;

  &:hover {
    color: rgba(0, 0, 0, 0.87);
    background: rgba(0, 0, 0, 0.04);
  }
}

:host {
  ::ng-deep {
    .p-card {
      box-shadow: var(--card-shadow);
      border-radius: 0.5rem;
    }

    .p-card .p-card-body {
      padding: 0.5rem 1.5rem;
      border-radius: 0.5rem;
      background: var(--surface-card);
      border: 1px solid var(--surface-border);
    }
  }
}
