<p-dialog
  header="Redefinir senha"
  [(visible)]="mostrarMenuRedefinirSenha"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  (visibleChange)="fecharMenuRedefinirSenha()"
>
  <div
    class="flex flex-column justify-content-center align-items-center gap-4 w-full py-2 px-4"
    style="min-width: 350px"
  >
    <span class="p-float-label p-input-icon-right w-full">
      <i
        class="cursor-pointer"
        [ngClass]="mostrarSenha ? 'pi  pi-eye' : 'pi pi-eye-slash'"
        (click)="this.mostrarSenha = !this.mostrarSenha"
      ></i>

      <input
        pInputText
        pAutoFocus
        required
        class="p-inputtext-sm w-full"
        autocomplete="none"
        [type]="mostrarSenha ? 'text' : 'password'"
        [(ngModel)]="senha"
      />

      <label htmlFor="username">Senha</label>
    </span>

    <span class="p-float-label p-input-icon-right w-full">
      <i
        class="cursor-pointer"
        [ngClass]="mostrarConfirmarSenha ? 'pi  pi-eye' : 'pi pi-eye-slash'"
        (click)="this.mostrarConfirmarSenha = !this.mostrarConfirmarSenha"
      ></i>

      <input
        pInputText
        required
        class="p-inputtext-sm w-full"
        autocomplete="none"
        [type]="mostrarConfirmarSenha ? 'text' : 'password'"
        [(ngModel)]="confirmarSenha"
      />

      <label htmlFor="username">Confirmar senha</label>
    </span>

    <small class="white-space-normal">
      A senha deve conter: <br />
      - Pelo menos uma letra maiúscula. <br />
      - Pelo menos uma letra minúscula. <br />
      - Pelo menos um número. <br />
      {{ "- Pelo menos um caractere especial(!@#$%^&*, etc...)." }} <br />
    </small>

    <button
      pButton
      pRipple
      [label]="carregando ? 'Carregando...' : 'Redefinir senha'"
      class="p-button-primary p-button-raised p-button-sm uppercase mt-4"
      [loading]="carregando"
      (click)="redefinirSenha()"
    ></button>
  </div>
</p-dialog>

<p-toast />
