<div>
  <div
    class="grid grid-nogutter gap-4 justify-content-center"
    *ngIf="!carregando; else loadingContent"
  >
    <div class="col" *ngFor="let card of cards">
      <p-card class="fadein animation-duration-1000 animation-ease-out card">
        <div class="flex justify-content-start align-items-center gap-2 w-full">
          <span
            [class]="card.icone"
            style="
              font-size: 2rem;
              font-weight: 700;
              color: var(--primary-color);
              background-color: rgb(0 113 187 / 20%);
              border-radius: 0.5rem;
              padding: 0.625rem;
            "
          ></span>

          <div class="flex flex-column justify-content-start">
            <span class="text-sm">{{ card.titulo }}</span>

            <span
              class="text-3xl"
              style="font-weight: 600; color: rgba(0, 0, 0, 0.8)"
            >
              {{ card.valor }}
            </span>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="grid grid-nogutter mt-4 justify-content-between">
    <div
      class="col-12 lg:col-7 fadein animation-duration-1000 animation-ease-out pr-2"
    >
      <p-card>
        <p-chart
          type="bar"
          [data]="datasetGraficoBarras"
          [options]="optionsBar"
        ></p-chart>
      </p-card>
    </div>

    <div
      class="col-12 lg:col-5 fadein animation-duration-1000 animation-ease-out pl-2"
    >
      <p-card class="w-full">
        <p-chart
          type="doughnut"
          [data]="datasetDoughnut"
          [options]="optionsDoughnut"
        ></p-chart>
      </p-card>
    </div>
  </div>
</div>

<p-toast></p-toast>

<ng-template #loadingContent> Carregando... </ng-template>
