<main class="grid grid-nogutter bg-gray-100 h-screen w-screen slide-in-left">
  <div
    class="col-8"
    style="
      background-image: url(assets/images/banner.png);
      background-color: var(--surface-ground);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    "
  ></div>

  <div
    class="col-4 bg-white shadow-3 p-2 flex flex-column justify-content-center"
    style="background-color: var(--surface-overlay) !important"
  >
    <div class="flex justify-content-center mb-8">
      <a href="https://kgepel.com.br/">
        <img
          src="assets/images/kgepel-icon.png"
          alt="Prisma gestão de softwares"
        />
      </a>
    </div>

    <form
      pFocusTrap
      (ngSubmit)="entrar(usuario.value, senha.value)"
      novalidate
      class="w-full flex flex-column justify-content-center gap-3 px-4"
    >
      <span class="p-float-label w-full">
        <input
          #usuario
          pAutoFocus
          pInputText
          required
          [autofocus]="true"
          class="p-inputtext-sm w-full"
          autocomplete="email"
        />

        <label>Usuário</label>
      </span>

      <span class="p-float-label p-input-icon-right w-full">
        <i
          class="cursor-pointer"
          [ngClass]="mostrarSenha ? 'pi  pi-eye' : 'pi pi-eye-slash'"
          (click)="toggleMostrarSenha()"
        ></i>

        <input
          #senha
          pInputText
          pAutoFocus
          required
          class="p-inputtext-sm w-full"
          autocomplete="current-password"
          [type]="mostrarSenha ? 'text' : 'password'"
        />

        <label>Senha</label>
      </span>

      <button
        pButton
        pRipple
        [label]="carregando ? 'Carregando...' : 'Entrar'"
        class="p-button-primary p-button-raised w-full p-button-sm uppercase mt-4"
        [loading]="carregando"
        type="submit"
      ></button>
    </form>

    <div class="mt-6 px-4 flex justify-content-between align-items-center">
      <a
        class="text-sm text-blue-600 underline cursor-pointer"
        (click)="showMenuRegistro()"
      >
        Não possui uma conta?
      </a>

      <a
        class="text-sm text-blue-600 underline cursor-pointer"
        (click)="showModalForgotPassword()"
      >
        Esqueci minha senha
      </a>
    </div>

    <app-modal-registro-usuario />

    <app-modal-reset-password
      [usuario]="usuario.value"
      [tokenTemporario]="tokenTemporario"
    />

    <app-modal-forgot-password />
  </div>

  <p-toast />
</main>
