<main class="grid grid-nogutter bg-gray-100 h-screen w-screen slide-in-left">
  <div
    class="col-8"
    style="
      background-image: url(assets/images/banner.png);
      background-color: var(--surface-ground);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    "
  ></div>

  <div
    class="col-4 bg-white shadow-3 p-2 flex flex-column justify-content-center"
    style="background-color: var(--surface-overlay) !important"
  >
    <div class="flex justify-content-center mb-8">
      <a href="https://kgepel.com.br/">
        <img
          src="assets/images/kgepel-icon.png"
          alt="Prisma gestão de softwares"
        />
      </a>
    </div>

    <form
      pFocusTrap
      (ngSubmit)="entrar(usuario.value, senha.value)"
      novalidate
      class="w-full flex flex-column justify-content-center gap-3 px-4"
    >
      <span class="p-float-label w-full">
        <input
          #usuario
          pAutoFocus
          pInputText
          required
          [autofocus]="true"
          class="p-inputtext-sm w-full"
          autocomplete="email"
        />

        <label>Usuário</label>
      </span>

      <span class="p-float-label p-input-icon-right w-full">
        <i
          class="cursor-pointer"
          [ngClass]="mostrarSenha ? 'pi  pi-eye' : 'pi pi-eye-slash'"
          (click)="toggleMostrarSenha()"
        ></i>

        <input
          #senha
          pInputText
          pAutoFocus
          required
          class="p-inputtext-sm w-full"
          autocomplete="current-password"
          [type]="mostrarSenha ? 'text' : 'password'"
        />

        <label>Senha</label>
      </span>

      <button
        pButton
        pRipple
        [label]="carregando ? 'Carregando...' : 'Entrar'"
        class="p-button-primary p-button-raised w-full p-button-sm uppercase mt-4"
        [loading]="carregando"
        type="submit"
      ></button>
    </form>

    <div class="mt-6 px-4 flex justify-content-between align-items-center">
      <span
        class="text-sm text-blue-600 underline cursor-pointer"
        (click)="mostrarMenuRegistro = true"
      >
        Não possui uma conta?
      </span>

      <span href="#" class="text-sm text-blue-600 underline cursor-pointer">
        Esqueci minha senha
      </span>
    </div>
  </div>

  <p-dialog
    header="Cadastro"
    [(visible)]="mostrarMenuRegistro"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    (visibleChange)="fecharMenuRegistro()"
  >
    <div
      style="min-width: 350px"
      *ngIf="!documentoVerificado"
      class="p-4 mx-6 slide-in-left flex justify-content-center flex-column gap-4 align-items-center"
    >
      <div class="flex gap-4">
        <div class="flex align-items-center">
          <p-radioButton
            name="documento"
            value="CPF"
            inputId="CPF"
            [(ngModel)]="tipoDocumento"
            [disabled]="validandoDocumento"
          />

          <label for="CPF" class="ml-2 cursor-pointer">CPF</label>
        </div>

        <div class="flex align-items-center">
          <p-radioButton
            name="documento"
            value="CNPJ"
            inputId="CNPJ"
            [required]="true"
            [(ngModel)]="tipoDocumento"
            [disabled]="validandoDocumento"
          />

          <label for="CNPJ" class="ml-2 cursor-pointer">CNPJ</label>
        </div>
      </div>

      <span class="p-float-label w-full">
        <p-inputMask
          [mask]="
            tipoDocumento === 'CPF' ? '999.999.999-99' : '99.999.999/9999-99'
          "
          [disabled]="validandoDocumento"
          [(ngModel)]="documento"
          class="w-full"
        ></p-inputMask>

        <label>{{ tipoDocumento }}</label>
      </span>

      <span class="p-float-label w-full">
        <input
          pInputText
          required
          class="w-full"
          autocomplete="email"
          [disabled]="validandoDocumento"
          [(ngModel)]="emailRegistro"
        />

        <label>Email</label>
      </span>

      <button
        pButton
        pRipple
        [label]="validandoDocumento ? 'Carregando...' : 'Verificar'"
        class="p-button-primary p-button-raised w-full p-button-sm uppercase mt-4"
        [loading]="validandoDocumento"
        (click)="verificarDocumento()"
      ></button>
    </div>

    <form
      *ngIf="documentoVerificado"
      class="flex flex-column gap-3 p-2 mx-2 slide-in-left"
      [formGroup]="formularioCadastro"
      #formDir="ngForm"
      (ngSubmit)="formSubmit()"
    >
      <div class="w-full flex" style="gap: 12px">
        <div class="form-group">
          <span class="p-float-label w-full">
            <input
              pInputText
              required
              [class]="
                'p-inputtext-sm w-full' +
                (nome?.invalid && (nome?.dirty || nome?.touched)
                  ? ' ng-invalid ng-dirty'
                  : '')
              "
              autocomplete="cc-given-name"
              formControlName="nome"
            />

            <label>Nome</label>
          </span>

          <div *ngIf="nome?.invalid && (nome?.dirty || nome?.touched)">
            <small class="text-red-700" *ngIf="nome?.hasError('required')">
              O campo nome é obrigatório.
            </small>
          </div>
        </div>

        <div class="form-group">
          <span class="p-float-label w-full">
            <input
              pInputText
              required
              [class]="
                'p-inputtext-sm w-full' +
                (sobrenome?.invalid && (sobrenome?.dirty || sobrenome?.touched)
                  ? ' ng-invalid ng-dirty'
                  : '')
              "
              autocomplete="family-name"
              formControlName="sobrenome"
            />

            <label>Sobrenome</label>
          </span>

          <div
            *ngIf="
              sobrenome?.invalid && (sobrenome?.dirty || sobrenome?.touched)
            "
          >
            <small class="text-red-700" *ngIf="sobrenome?.hasError('required')">
              O campo sobrenome é obrigatório.
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <span class="p-float-label p-input-icon-right w-full">
          <i
            class="cursor-pointer"
            [ngClass]="mostrarSenhaRegistro ? 'pi  pi-eye' : 'pi pi-eye-slash'"
            (click)="mostrarSenhaRegistro = !mostrarSenhaRegistro"
          ></i>

          <input
            pInputText
            pAutoFocus
            required
            [class]="
              'p-inputtext-sm w-full' +
              (senhaRegistro?.invalid &&
              (senhaRegistro?.dirty || senhaRegistro?.touched)
                ? ' ng-invalid ng-dirty'
                : '')
            "
            autocomplete="current-password"
            [type]="mostrarSenhaRegistro ? 'text' : 'password'"
            formControlName="senhaRegistro"
          />

          <label>Senha</label>
        </span>

        <div
          *ngIf="
            senhaRegistro?.invalid &&
            (senhaRegistro?.dirty || senhaRegistro?.touched)
          "
          class="flex flex-column gap-2"
        >
          <small
            class="text-red-700"
            *ngIf="senhaRegistro?.hasError('required')"
          >
            O campo senha é obrigatório.
          </small>

          <small
            class="text-red-700"
            *ngIf="senhaRegistro?.hasError('minlength')"
          >
            A senha deve ter no mínimo 6 caracteres.
          </small>

          <small
            class="text-red-700"
            *ngIf="senhaRegistro?.hasError('maxlength')"
          >
            A senha deve ter no máximo 20 caracteres.
          </small>

          <small
            class="text-red-700 white-space-normal"
            *ngIf="senhaRegistro?.hasError('pattern')"
          >
            A senha deve conter: <br />
            - Pelo menos uma letra maiúscula. <br />
            - Pelo menos uma letra minúscula. <br />
            - Pelo menos um número. <br />
            - Pelo menos um caractere especial(!@#$%^&*, etc...). <br />
          </small>
        </div>
      </div>

      <div class="form-group">
        <span class="p-float-label p-input-icon-right w-full">
          <i
            class="cursor-pointer"
            [ngClass]="mostrarConfirmarSenha ? 'pi  pi-eye' : 'pi pi-eye-slash'"
            (click)="mostrarConfirmarSenha = !mostrarConfirmarSenha"
          ></i>

          <input
            pInputText
            pAutoFocus
            required
            [class]="
              'p-inputtext-sm w-full' +
              (senhaRegistro?.value !== confirmarSenha?.value &&
              (confirmarSenha?.dirty || confirmarSenha?.touched)
                ? ' ng-invalid ng-dirty'
                : '')
            "
            autocomplete="current-password"
            [type]="mostrarConfirmarSenha ? 'text' : 'password'"
            formControlName="confirmarSenha"
          />

          <label>Confirmar senha</label>
        </span>

        <div *ngIf="confirmarSenha?.dirty || confirmarSenha?.touched">
          <small
            class="text-red-700"
            *ngIf="senhaRegistro?.value !== confirmarSenha?.value"
          >
            As senhas devem ser iguais
          </small>
        </div>
      </div>

      <div class="mt-6 flex justify-content-center">
        <p-button
          type="submit"
          icon="pi pi-check"
          label="Cadastrar"
          class="p-inputtext-sm"
          [disabled]="
            formularioCadastro.invalid ||
            senhaRegistro?.value !== confirmarSenha?.value
          "
        />
      </div>
    </form>

    <ng-template
      class="slide-in-left"
      *ngIf="documentoVerificado"
      pTemplate="footer"
    >
      <p-button
        type="submit"
        icon="pi pi-check"
        label="Cadastrar"
        class="p-inputtext-sm w-full"
      />
    </ng-template>
  </p-dialog>

  <p-toast></p-toast>
</main>
