:host {
  ::ng-deep {
    .p-panelmenu,
    .p-menu {
      width: 100%;
      border: none;
      background: none;
    }

    .p-panelmenu .p-menuitem-link,
    .p-menu .p-menuitem-link {
      border-radius: 8px;
      margin-left: 1rem;
    }

    .p-panelmenu .p-submenu-header,
    .p-menu .p-submenu-header {
      font-weight: 700;
    }

    .p-menuitem-link-active {
      background-color: var(--primary-color) !important;
      color: #fff !important;

      .p-menuitem-text {
        color: #fff !important;
      }

      .p-menuitem-icon {
        color: #fff !important;
      }
    }

    .p-panelmenu .p-panelmenu-panel {
      box-shadow: none;
    }
  }
}
