@import "primeng/resources/primeng.css";
@import "/node_modules/primeflex/primeflex.css";
@import "/node_modules/primeicons/primeicons.css";
@import "/src/styles/theme.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 1rem;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
